/*----------  base
------------------------------------------------------------------------------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #283e51;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: .3;
}

.heading h5 {
  margin-top: -92px;
  text-transform: lowercase;
  opacity: .8;
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#9cecfb), to(#65c7f7));
  background: linear-gradient(to right, #9cecfb, #65c7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
  .heading h1 {
    font-size: 4rem;
    letter-spacing: 3px;
  }
  .heading h5 {
    margin-top: -80px;
    font-size: 3rem;
  }
}

/*----------  helpers
------------------------------------------------------------------------------*/
/*----------  layout
------------------------------------------------------------------------------*/
/* Header */
header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url(../img/banner.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.user-box {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.user-box img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #9cecfb;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.user-box #logo {
  margin: 20px 0;
  -webkit-animation: filling .5s ease forwards 3s;
          animation: filling .5s ease forwards 3s;
}

.user-box #logo path:nth-child(1) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  -webkit-animation: anim-letter 2s ease forwards;
          animation: anim-letter 2s ease forwards;
}

.user-box #logo path:nth-child(2) {
  stroke-dasharray: 363;
  stroke-dashoffset: 363;
  -webkit-animation: anim-letter 2s ease forwards .2s;
          animation: anim-letter 2s ease forwards .2s;
}

.user-box #logo path:nth-child(3) {
  stroke-dasharray: 224;
  stroke-dashoffset: 224;
  -webkit-animation: anim-letter 2s ease forwards .4s;
          animation: anim-letter 2s ease forwards .4s;
}

.user-box #logo path:nth-child(4) {
  stroke-dasharray: 239;
  stroke-dashoffset: 239;
  -webkit-animation: anim-letter 2s ease forwards .6s;
          animation: anim-letter 2s ease forwards .6s;
}

.user-box #logo path:nth-child(5) {
  stroke-dasharray: 454;
  stroke-dashoffset: 454;
  -webkit-animation: anim-letter 2s ease forwards .8s;
          animation: anim-letter 2s ease forwards .8s;
}

.user-box #logo path:nth-child(6) {
  stroke-dasharray: 363;
  stroke-dashoffset: 363;
  -webkit-animation: anim-letter 2s ease forwards 1s;
          animation: anim-letter 2s ease forwards 1s;
}

.user-box #logo path:nth-child(7) {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  -webkit-animation: anim-letter 2s ease forwards 1.2s;
          animation: anim-letter 2s ease forwards 1.2s;
}

.user-box #logo path:nth-child(8) {
  stroke-dasharray: 544;
  stroke-dashoffset: 544;
  -webkit-animation: anim-letter 2s ease forwards 1.4s;
          animation: anim-letter 2s ease forwards 1.4s;
}

.user-box #logo path:nth-child(9) {
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
  -webkit-animation: anim-letter 2s ease forwards 1.6s;
          animation: anim-letter 2s ease forwards 1.6s;
}

.user-box #logo path:nth-child(10) {
  stroke-dasharray: 367;
  stroke-dashoffset: 367;
  -webkit-animation: anim-letter 2s ease forwards 1.8s;
          animation: anim-letter 2s ease forwards 1.8s;
}

.user-box #logo path:nth-child(11) {
  stroke-dasharray: 363;
  stroke-dashoffset: 363;
  -webkit-animation: anim-letter 2s ease forwards 2s;
          animation: anim-letter 2s ease forwards 2s;
}

.user-box #logo path:nth-child(12) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-animation: anim-letter 2s ease forwards 2.2s;
          animation: anim-letter 2s ease forwards 2.2s;
}

.user-box #logo path:nth-child(13) {
  stroke-dasharray: 273;
  stroke-dashoffset: 273;
  -webkit-animation: anim-letter 2s ease forwards 2.4s;
          animation: anim-letter 2s ease forwards 2.4s;
}

.user-box p {
  color: #f5f5f5;
  opacity: .8;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-animation: fadeInBottom 0.5s linear forwards;
          animation: fadeInBottom 0.5s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes anim-letter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes anim-letter {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes filling {
  from {
    fill: transparent;
  }
  to {
    fill: #9cecfb;
  }
}

@keyframes filling {
  from {
    fill: transparent;
  }
  to {
    fill: #9cecfb;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .user-box #logo {
    width: 80%;
  }
  .user-box p {
    font-size: 1rem;
  }
}

/* About */
.about {
  padding: 5rem 0;
  background: #283e51;
  color: #f5f5f5;
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-inner .bio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2em;
  margin-right: 2rem;
}

.about-inner .bio p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-inner .bio .btn-info {
  position: relative;
  display: inline-block;
  color: #9cecfb;
}

.about-inner .bio .btn-info::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #9cecfb;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.about-inner .bio .btn-info:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.about-inner .skills {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2em;
  background: #395873;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.about-inner .skills h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-inner .skills h3::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#65c7f7), to(#9cecfb));
  background: linear-gradient(to right, #65c7f7, #9cecfb);
  border-radius: 5px;
  margin: 5px 0;
}

.about-inner .skills img {
  width: 20px;
}

.about-inner .skills .skill-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-inner .skills .skill-label .photoshop-heading {
  position: relative;
  padding-left: 25px;
}

.about-inner .skills .skill-label .photoshop-heading::before {
  content: url(../img/photoshop_logo.png);
  position: absolute;
  left: -1px;
  top: 0;
  display: block;
}

.about-inner .skills .skill-label .fa-html5 {
  color: #e34f26;
}

.about-inner .skills .skill-label i {
  font-size: 1.1rem;
  margin-right: 3px;
}

.about-inner .skills .skill-label .fa-css3 {
  color: #3498db;
}

.about-inner .skills .skill-label .fa-sass {
  color: #cd6799;
}

.about-inner .skills .skill-label .fa-bootstrap {
  color: #602c50;
}

.about-inner .skills .skill-label .fa-js {
  color: #f0db4f;
}

.about-inner .skills .skill-bar {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 1rem 0 1.2rem;
  background: rgba(0, 0, 0, 0.6);
}

.about-inner .skills .skill-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#65c7f7), to(#9cecfb));
  background: linear-gradient(to right, #65c7f7, #9cecfb);
  -webkit-box-shadow: 0 0 25px rgba(156, 236, 251, 0.6);
          box-shadow: 0 0 25px rgba(156, 236, 251, 0.6);
}

@media screen and (max-width: 800px) {
  .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-inner .bio {
    margin-right: 0;
  }
  .about-inner .skills {
    margin-top: 4rem;
    width: 90%;
  }
}

/* Portfolio */
.portfolio-heading {
  background: #17242f;
  color: #f5f5f5;
  text-align: center;
  padding: 2em 0;
}

.portfolio-heading h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.portfolio-inner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-inner .portfolio-box {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.portfolio-inner .portfolio-box:nth-of-type(1) {
  background: url(../img/portfolio/travel-theme.png);
  background-size: cover;
}

.portfolio-inner .portfolio-box:nth-of-type(2) {
  background: url(../img/portfolio/restaurant-theme.png);
  background-size: cover;
}

.portfolio-inner .portfolio-box:nth-of-type(3) {
  background: url(../img/portfolio/ironbuild-theme.png);
  background-size: cover;
}

.portfolio-inner .portfolio-box:nth-of-type(4) {
  background: url(../img/portfolio/hometown-project.png);
  background-size: cover;
}

.portfolio-inner .portfolio-box:hover {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.portfolio-inner .portfolio-box:hover .portfolio-desc {
  bottom: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.portfolio-inner .portfolio-desc {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  background: rgba(0, 0, 0, 0.8);
  color: #f5f5f5;
  opacity: 0;
}

.portfolio-inner .portfolio-desc h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.portfolio-inner .portfolio-desc .btn {
  display: inline-block;
  font-size: .9rem;
  padding: .5em 1em;
  background: #2193b0;
  color: #f5f5f5;
  -webkit-transition: .5s;
  transition: .5s;
}

.portfolio-inner .portfolio-desc .btn:hover {
  color: #fff;
  background: #0083b0;
}

@media screen and (max-width: 700px) {
  .portfolio-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-heading h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

/* Footer */
footer {
  position: relative;
  padding: 2em 0 0;
  text-align: center;
  color: #f5f5f5;
}

footer .footer-heading {
  margin-bottom: 2rem;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 240px;
  width: 90%;
  margin: 0 auto 2.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .social-icons i {
  font-size: 2.8rem;
  color: #f5f5f5;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .social-icons i:hover {
  opacity: 1;
}

footer .social-icons .text-clipped {
  padding: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9cecfb), to(#65c7f7));
  background: linear-gradient(to bottom, #9cecfb, #65c7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .copyright {
  background: #17242f;
  padding: 1em 0;
}

footer .up {
  position: absolute;
  bottom: 25px;
  right: 35px;
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  border-radius: 100%;
  opacity: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

footer .up i {
  font-size: 1.6rem;
  color: #16162d;
  margin: auto;
}

footer .up:hover i {
  -webkit-animation: moving-up 1s ease-in-out infinite;
          animation: moving-up 1s ease-in-out infinite;
}

@-webkit-keyframes moving-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moving-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(156, 236, 251, 0.9);
            box-shadow: 0 0 0 0 rgba(156, 236, 251, 0.9);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(156, 236, 251, 0);
            box-shadow: 0 0 0 20px rgba(156, 236, 251, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(156, 236, 251, 0);
            box-shadow: 0 0 0 0 rgba(156, 236, 251, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(156, 236, 251, 0.9);
            box-shadow: 0 0 0 0 rgba(156, 236, 251, 0.9);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(156, 236, 251, 0);
            box-shadow: 0 0 0 20px rgba(156, 236, 251, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(156, 236, 251, 0);
            box-shadow: 0 0 0 0 rgba(156, 236, 251, 0);
  }
}

/*----------  components
------------------------------------------------------------------------------*/
/* Navigation */
nav {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul:hover li {
  opacity: .5;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

nav ul li {
  opacity: 0;
  -webkit-animation: fadeInDown 0.5s linear forwards;
          animation: fadeInDown 0.5s linear forwards;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li:nth-child(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

nav ul li:nth-child(2) {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s;
}

nav ul li:nth-child(3) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

nav ul li:hover {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

nav ul a {
  color: #f5f5f5;
  padding: 1em 0;
  margin: 0 2rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.menu-toggle {
  position: absolute;
  top: 35px;
  right: 35px;
  color: #f5f5f5;
  padding: .3em .6em;
  cursor: pointer;
  z-index: 99;
  display: none;
  opacity: 0;
  -webkit-animation: fadeInRight 0.5s linear forwards;
          animation: fadeInRight 0.5s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu-toggle .btn-line {
  display: block;
  width: 30px;
  height: 4px;
  margin: 3px 0 5px 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#9cecfb), to(#65c7f7));
  background: linear-gradient(to right, #9cecfb, #65c7f7);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.menu-toggle .btn-line:nth-child(2) {
  width: 20px;
}

.menu-toggle .btn-line:nth-child(3) {
  width: 25px;
}

.menu-toggle:hover .btn-line {
  width: 30px;
}

.menu-toggle.open .btn-line:nth-child(1) {
  -webkit-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg);
}

.menu-toggle.open .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .btn-line:nth-child(3) {
  -webkit-transform: translate(0, -9px) rotate(-45deg);
          transform: translate(0, -9px) rotate(-45deg);
  width: 30px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  display: none;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }
  nav {
    display: none;
    position: relative;
    z-index: 2;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 90vh;
  }
  nav ul li {
    margin-top: 2rem;
  }
  nav ul li:nth-child(1), nav ul li:nth-child(2), nav ul li:nth-child(3) {
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
  }
  nav ul a {
    margin: 0;
    padding: 1em;
    font-size: 2.8rem;
    font-weight: bold;
  }
  .overlay.open,
  nav.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*----------  pages
------------------------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */