/* Portfolio */
// .portfolio {

// }

.portfolio-heading {
    background: darken($body-color, 10%);
    color: $light-color;
    text-align: center;
    padding: 2em 0;

    h1 {
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.portfolio-inner {
    width: 100vw;
    height: 100vh;
    display: flex;

    .portfolio-box {
        position: relative;
        flex-grow: 1;
        text-align: center;
        overflow: hidden;
        transition: .8s;

        &:nth-of-type(1) {
            background: url(../img/portfolio/travel-theme.png);
            background-size: cover;
            // background-position: center;
        }

        &:nth-of-type(2) {
            background: url(../img/portfolio/restaurant-theme.png);
            background-size: cover;
            // background-position: center;
        }

        &:nth-of-type(3) {
            background: url(../img/portfolio/ironbuild-theme.png);
            background-size: cover;
            // background-position: center;
        }

        &:nth-of-type(4) {
            background: url(../img/portfolio/hometown-project.png);
            background-size: cover;
            // background-position: center;
        }

        &:hover {
            flex-grow: 4;
        }

        &:hover {
            .portfolio-desc {
                bottom: 0;
                opacity: 1;
                transition: .5s;
                transition-delay: .5s;
            }
        }
    }

    .portfolio-desc {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 1em 2em;
        background: rgba(0,0,0,.8);
        color: $light-color;
        opacity: 0;

        h3 {
            // text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }

        .btn {
            display: inline-block;
            font-size: .9rem;
            padding: .5em 1em;
            background: #2193b0;
            color: $light-color;
            transition: .5s;

            &:hover {
                color: #fff;
                background: #0083b0;
            }
        }
    }

}

@media screen and (max-width: 700px) {
    .portfolio-inner {
        flex-direction: column;
    }

    .portfolio-heading {
     
        h1 {
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }
}