$body-color: #283e51; // #283e51, #2c3e50
$light-color: #f5f5f5;
// $dark-color: #262626;
$linear-color1: #9cecfb;
$linear-color2: #65c7f7;
// background: linear-gradient(to right, #50c9c3, #96deda);
// background: linear-gradient(to right, #085078, #85d8ce);
// background: linear-gradient(to right, #4cb8c4, #3cd3ad);
// background: linear-gradient(to right, #1fa2ff, #12d8fa);
// background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
// background: linear-gradient(to right, #2193b0, #6dd5ed);
// background: linear-gradient(to right, #2980b9, #6dd5fa, #fff);
// background: linear-gradient(to right, #00b4db, #0083b0);
// background: linear-gradient(to right, #1c92d2, #f2fcfe);
// background: linear-gradient(to right, #36d1dc, #5b86e5);
// background: linear-gradient(to right, #56ccf2, #2f80ed);
// background: linear-gradient(to right, #b2fefa, #0ed2f7);
// background: linear-gradient(to right, #c0c0aa, #1cefff);
// background: linear-gradient(to right, #2c3e50, #4ca1af);
// background: linear-gradient(to right, #3a7bd5, #3a6073);
// background: linear-gradient(to right, #00d2ff, #928dab);
// background: linear-gradient(to right, #4ca1af, #c4e0e5);
// background: linear-gradient(to right, #4b79a1, #283e51);
// background: linear-gradient(to right, #2980b9, #2c3e50);

$primaryFont: 'Roboto',
sans-serif;
$secondaryFont: 'Pacifico',
cursive;